.reveal table tbody td {
    border: 0;
}

.reveal table {
    border: 1px solid black;
}

.reveal div.pre {
    display: block;
    position: relative;
    width: 90%;
    margin: 20px auto;
    text-align: left;
    font-size: 0.55em;
    font-family: monospace;
    line-height: 1.2em;
    word-wrap: break-word;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}

.reveal div.pre span {
    display: inline-block;
}